@inherits LayoutComponentBase
@using app.Core.Services
@inject IAccountService _accountService
@inject NavigationManager NavigationManager
@inject TmClient _client

<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.ExtraLarge"
                   CloseButton="true"
                   DisableBackdropClick="false"
                   NoHeader="false"
                   Position="DialogPosition.Center" />
<MudSnackbarProvider />
<MudThemeProvider Theme="MyCustomTheme"/>

@if (NavigationManager.Uri.ToString().ToLower().Contains("account"))
{
    <div>
        @Body
    </div>
}
else
{
    <MudLayout>
        <MudAppBar Color="Color.Dark" Elevation="0" Dense="true">
 
            <MudAppBarSpacer />
            <MudMenu Size="Size.Small" Variant="Variant.Filled" Color="Color.Default" Direction="Direction.Right" OffsetY="true" Dense="true">
                <ActivatorContent>
                    <MudAvatar Size="Size.Small" Style="@AvatarStyle.Get(@userClaims.Username,"","","")">@userClaims.Username.First().ToString().ToUpper()</MudAvatar>
                </ActivatorContent>
                <ChildContent>

                    <MudCard Style="box-shadow: none;">
                        <MudText Align="Align.Right" class="px-3">
                            <MudAvatar  Size="Size.Small" style="@AvatarStyle.Get(userClaims.Company,"","","")">A</MudAvatar><b>@userClaims.Company</b></MudText>
                      
                        <MudCardHeader>
                            <CardHeaderAvatar>
                                <MudAvatar  Style="@AvatarStyle.Get(@userClaims.Username,"","","")">@userClaims.Username.First().ToString().ToUpper()</MudAvatar>
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudText Typo="Typo.body1">@userClaims.Username</MudText>
                                <MudText Typo="Typo.body2">@userClaims.Email</MudText>
                            </CardHeaderContent>
                            <CardHeaderActions>
                                <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
                            </CardHeaderActions>
                        </MudCardHeader>
                        <MudCardActions Class="text-right">
                            <MudLink Color="Color.Default"></MudLink>
                            <MudLink Href="account/logout" Color="Color.Default">Logout</MudLink>
                        </MudCardActions>
                    </MudCard>


                </ChildContent>
            </MudMenu>

            <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" OnClick="@((e) => CompanyDrawerToggle())" />
        </MudAppBar>
        <MudDrawer @bind-Open="_drawerOpen" wid="40px" Class="width-40" Color="Color.Dark" Variant="@DrawerVariant.Mini" PreserveOpenState="true" ClipMode="DrawerClipMode.Never" Elevation="0">
            <MudDrawerHeader Class="px-3">
                <MudIconButton Class="mb-1 mr-3" Size="Size.Small" Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
                @if (_drawerOpen)
                {
                    <img src="/logo.png" style="width: 30px;height: 30px;">
                }

            </MudDrawerHeader>
            <MudNavMenu Class="hover-white">

                <MudNavLink IconColor="Color.Inherit" Href="/Users" Match="NavLinkMatch.All" Icon="@Icons.Filled.SupervisedUserCircle">Team</MudNavLink>
                <MudNavLink IconColor="Color.Inherit" Href="/Projects" Match="NavLinkMatch.All" Icon="@Icons.Filled.BuildCircle">Projects</MudNavLink>


            </MudNavMenu>

        </MudDrawer>
        <MudDrawer Style=" overflow-x: hidden;" @bind-Open="@_companyDrawerOpen" Color="Color.Dark" Anchor="@Anchor.Right" Elevation="0" Variant="@DrawerVariant.Temporary">
            <MudDrawerHeader>
                <MudText Typo="Typo.h6">Organization</MudText>
            </MudDrawerHeader>
            <MudPaper  Width="300px">
                <MudList Class="p-0 px-2" Style="background: black; color: white;" >
                    @foreach (var company in _companies)
                    {
                    <MudListItem Class="p-0 " >
                        <MudAvatar Class="mr-2" Size="Size.Medium" Style="@AvatarStyle.Get(company,"","","")">@company.First().ToString().ToUpper()</MudAvatar> @company
                    </MudListItem>
                    }


                </MudList>
            </MudPaper>

        </MudDrawer>
        <MudMainContent Style="@GetStyle()">
            <MudContainer Class="margin-top-20-inverse" MaxWidth="MaxWidth.ExtraLarge">
                @Body
            </MudContainer>
        </MudMainContent>
    </MudLayout>
}

@code {
    bool _drawerOpen = true;
    List<string> _companies = new List<string>();
    string GetStyle()
    {
       return _drawerOpen ?"": $"padding-left: 65px";
    }
    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
    bool _companyDrawerOpen = false;

    void CompanyDrawerToggle()
    {
        _companyDrawerOpen = !_companyDrawerOpen;
    }
    Core.Moldes.User.UserClaims userClaims;
    protected override async void OnInitialized()
    {
        userClaims = _accountService.GetUserClaims();
        if (userClaims?.Id is not null)
        {
            var result = await _client.GetCompany.ExecuteAsync();
            _companies = result.IsSuccessResult() ? result.Data.Companies.Nodes.Select(x => x.Name).ToList() : new List<string?>();
        }

    }

    public bool LoggedIn
    {
        get { return _accountService.IsLoggedIn(); }
    }
    public List<string> titles;

    #region Customize Theme

    MudTheme MyCustomTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Primary = Colors.Blue.Default,
            Secondary = Colors.Green.Accent4,
            AppbarBackground = Colors.Red.Default,
        },

        LayoutProperties = new LayoutProperties()
        {
            DrawerWidthLeft = "260px",
            DrawerWidthRight = "300px",
            AppbarMinHeight= "50px",
            DrawerMiniWidthLeft="40px",



        }
    };
    #endregion
}



